openapi: 3.0.1
info:
  title: Open Data Portal (ODP) API
  description: The Open Data Portal (ODP) API allows you to extract USPTO data at no cost - with several ways to do it. To learn about the ODP API Rate Limits, please visit to the <a href="https://data.uspto.gov/apis/api-rate-limits" target="_blank">API Rate Limits page</a>. <br><br> <b>Before proceeding</b>, you must have an ODP API key in order to access these Swagger UI resources. Once you have obtained an API key, you can pass the API key into a REST API call in the x-api-key header of the request. For more details and steps to generate an API key visit to the <a href="https://data.uspto.gov/apis/getting-started" target="_blank">Getting Started page</a>.<br><br>For example, the request to access patent data for an application might look like as below.<br><br><code>curl -X "GET" "https://api.uspto.gov/api/v1/patent/applications/14412875" -H "X-API-KEY:YOUR_API_KEY"</code><br><br></br><code>curl -X "POST" "https://api.uspto.gov/api/v1/patent/applications/search" -H "X-API-KEY:YOUR_API_KEY" -d "{\\"q\\":\\"applicationMetaData.applicationTypeLabelName:Utility\\"}"</br></code>
  contact:
    email: data@uspto.gov
    url: https://data.uspto.gov/apis/getting-started
    name: USPTO
  x-oas-url: https://data.uspto.gov/swagger/swagger.yaml
  x-product-page-url: https://data.uspto.gov/apis/getting-started
  x-ipdomain: ["Patent","Common","Trademark"]
  x-functionality: ["Search"]
  version: 1.0.0
x-content-language: en-US
servers:
  - url: https://api.uspto.gov
security:
  - ApiKeyAuth: []
tags:
  - name: Patent Search
    description: Search patent data by supplying query parameter or json request. Get data of a specific application or a section of an application
  - name: Bulk DataSets
    description: Bulk Dataset Directory provides a single repository for raw public bulk data. It contains research data from the office of the Chief Economist.
  - name: Petition Decision Search
    description: Petition Decision Search

    
paths:
  /api/v1/patent/applications/search:

    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Bibliographic data
    post:
      tags:
        - Patent Search
      summary: Search patent applications by supplying json payload

      requestBody:
        description: Patent data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status413'


        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
    get:
      tags:
        - Patent Search
      summary: Patent application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 applications are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Utility
              description: Search text 'Utility' across the searchable data fields
            Exact Phrase AND:
              value: Utility AND Design
              description: Search text 'Utility' AND 'Design' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:14412875
              description: Search data for application number 14412875
            Boolean OR:
              value: applicationMetaData.inventorBag.inventorNameText:Mark OR applicationMetaData.applicationTypeLabelName:Design
              description: Search data where inventorNameText is Mark Or applicationTypeLabelName is Design
            Boolean AND:
              value: applicationMetaData.applicationTypeLabelName:Utility AND applicationMetaData.applicationStatusCode:150
              description: Search data where applicationTypeLabelName is both Utility and applicationStatusCode value is 150
            Wildcard:
              value: applicationMetaData.firstApplicantName:Rockwel*
              description: Search data where firstApplicantName has text Rockwel followed by any character
            Range:
              value: applicationMetaData.filingDate:[2021-08-04 TO 2021-09-04]
              description: Search data where filingDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: applicationMetaData.applicationStatusCode:>600
              description: Search all records where applicationStatusCode is greater than 600
        - name: sort
          in: query
          description: Field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: applicationMetaData.filingDate asc
              description: Sort by filingDate ascending order
            Descending:
              value: applicationMetaData.grantDate desc
              description: Sort by grantDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: facets
          in: query
          description: List of fields names to be faceted upon separated by comma (<b>,</b>)
          schema:
            type: string
          examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: applicationMetaData.applicationTypeCode,applicationMetaData.docketNumber
              description: Faceting by applicationTypeCode and docketNumber
            Facets Example 2:
              value: applicationMetaData.publicationCategoryBag,applicationMetaData.groupArtUnitNumber,applicationMetaData.applicationStatusCode
              description: Faceting by publicationCategoryBag, groupArtUnitNumber and applicationStatusCode
        - name: fields
          in: query
          description: Limits the response by specifying which fields from dataset should be included.
          schema:
            type: string
          examples:
            All Available Data Set Fields:
              value:
              description: Returns all available data set fields
            Selected Fields:
              value: applicationNumberText,applicationMetaData.patentNumber,applicationMetaData.applicationTypeCode
              description: Include only applicationNumberText,patentNumber,applicationTypeCode in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value.
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: applicationMetaData.firstInventorToFileIndicator Y
              description: Filter data where firstInventorToFileIndicator value is Y
            Filters Example 2:
              value: applicationMetaData.entityStatusData.smallEntityStatusIndicator true
              description: Filter data where smallEntityStatusIndicator value is true
            Filters Single Value:
              value: applicationMetaData.filingDate 2023-10-18
              description: Filter data where filingDate value is 2023-10-18
            Filters Multi Value:
              value: applicationMetaData.applicationTypeCode UTL,DES
              description: Filter data where applicationTypeCode value is UTL or DES
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: applicationMetaData.grantDate 2010-01-01:2011-01-01
              description: Filter data where grant date is between 2010-01-01 and 2011-01-01
            Number Range Filter:
              value: applicationMetaData.applicationStatusCode 150:160
              description: Filter data where grant date is between 2010-01-01 and 2011-01-01

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status413'

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/search/download:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Bibliographic data
    post:
      tags:
        - Patent Search
      summary: Download patent data by supplying json payload
      requestBody:
        description: Patent data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatentDownloadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
    get:
      tags:
        - Patent Search
      summary: Patent application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 applications are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Utility
              description: Search text 'Utility' across the searchable data fields
            Exact Phrase AND:
              value: Utility AND Design
              description: Search text 'Utility' AND 'Design' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:14412875
              description: Search data for application number 14412875
            Boolean OR:
              value: applicationMetaData.inventorBag.inventorNameText:Mark OR applicationMetaData.applicationTypeLabelName:Design
              description: Search data where inventorNameText is Mark Or applicationTypeLabelName is Design
            Boolean AND:
              value: applicationMetaData.applicationTypeLabelName:Utility AND applicationMetaData.applicationStatusCode:150
              description: Search data where applicationTypeLabelName is both Utility and applicationStatusCode value is 150
            Wildcard:
              value: applicationMetaData.firstApplicantName:Rockwel*
              description: Search data where firstApplicantName has text Rockwel followed by any character
            Range:
              value: applicationMetaData.filingDate:[2021-08-04 TO 2021-09-04]
              description: Search data where filingDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: applicationMetaData.applicationStatusCode:>600
              description: Search all records where applicationStatusCode is greater than 600
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: applicationMetaData.filingDate asc
              description: Sort by filingDate ascending order
            Descending:
              value: applicationMetaData.grantDate desc
              description: Sort by grantDate descending order
        - name: offset
          in: query
          description: Page number to begin with
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: applicationNumberText,applicationMetaData.patentNumber,applicationMetaData.applicationTypeLabelName
              description: Include only applicationNumberText,patentNumber,applicationTypeCode in search result

        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: applicationMetaData.firstInventorToFileIndicator Y
              description: Filter data where firstInventorToFileIndicator value is Y
            Filters Example 2:
              value: smallEntityStatusIndicator true
              description: Filter data where applicationMetaData.entityStatusData.smallEntityStatusIndicator value is true
            Filters Single Value:
              value: entityStatusData.filingDate 2023-10-18
              description: Filter data where filingDate value is 2023-10-18
            Filters Multi Value:
              value: entityStatusData.applicationTypeCode UTL,DES
              description: Filter data where applicationTypeCode value is UTL or DES
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: entityStatusData.grantDate 2010-01-01:2011-01-01
              description: Filter data where grant date is between 2010-01-01 and 2011-01-01
            Number Range Filter:
              value: entityStatusData.applicationStatusCode 150:160
              description: Filter data where grant date is between 2010-01-01 and 2011-01-01
        - name: format
          in: query
          description: Download Format
          schema:
            type: string
          examples:
            json:
              value: json
            csv:
              value: csv
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  message:
                    example: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Patent application data for a provided application number
      parameters:
        - name: applicationNumberText
          in: path
          description: Patent application number. <b>Note</b>:Application number having special character e.g PCT/BR00/000001 must be encoded with UTF-8 character encoding standard
          schema:
            type: string
          required: true
          examples:
            first:
              value: 14412875
              summary: Application Number
              description: Application Number
            second:
              value: PCTUS0719317
              summary: International Application Number
              description: International Application Number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatentDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetailed:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/meta-data:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get patent application meta data
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
          example: 16330077
      responses:
        '200':
          description: Application meta data section
          content:
            application/json:
              schema:
                properties:
                  count:
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        applicationMetaData:
                          $ref: '#/components/schemas/ApplicationMetaData'

                  requestIdentifier:
                    example: 0ff4c603-a290-4659-8092-f68b408150c4
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/adjustment:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get patent term adjustment data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        patentTermAdjustmentData:
                          $ref: '#/components/schemas/PatentTermAdjustment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/assignment:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get patent assignment data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        assignmentBag:
                          $ref: '#/components/schemas/Assignment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/attorney:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get attorney/agent data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        recordAttorney:
                          $ref: '#/components/schemas/RecordAttorney'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/continuity:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get continuity data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        parentContinuityBag:
                          type: array
                          items:
                            $ref: '#/components/schemas/ParentContinuityData'
                        childContinuityBag:
                          type: array
                          items:
                            $ref: '#/components/schemas/ChildContinuityData'
                        requestIdentifier:
                          type: string
                          example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/foreign-priority:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get foreign-priority data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        foreignPriorityBag:
                          type: array
                          items:
                            $ref: '#/components/schemas/ForeignPriority'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/transactions:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Get transaction data for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: Patent application number
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        eventDataBag:
                          type: array
                          items:
                            $ref: '#/components/schemas/EventData'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/applications/{applicationNumberText}/documents:
    x-ip-domain: Patent
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Documents details for an application number
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: application number
          schema:
            type: string
            example: 16330077
        - name: documentCodes
          in: query
          description: single or multiple comma separated document codes
          allowReserved: true
          schema:
            type: string
          examples:
            No Doc Code:
              summary: No code
              description: Empty, No doc code conditions
              value:
            Single Doc Code:
              summary: Fee Worksheet
              description: Doc code for Fee Worksheet
              value: WFEE
            Multiple Doc Codes:
              value: SRFW,SRNT
              description: Search for doc codes SRFW and SRNT
        - name: officialDateFrom
          in: query
          description: Search by document official date from
          schema:
            type: string
            format: 'yyyy-MM-dd'
        - name: officialDateTo
          in: query
          description: Search by document official date to
          schema:
            type: string
            format: 'yyyy-MM-dd'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98

  /api/v1/patent/applications/{applicationNumberText}/associated-documents:
    x-ip-domain: Patent, Research
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Patent Search
      summary: Associated (pgpub, grant) documents meta-data for an application
      parameters:
        - name: applicationNumberText
          in: path
          required: true
          description: application number
          schema:
            type: string
            example: 16330077
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                  patentFileWrapperDataBag:
                    type: array
                    items:
                      type: object
                      properties:
                        applicationNumberText:
                          type: string
                          example: 14104993
                          description: Free format of application number
                        pgpubDocumentMetaData:
                          $ref: '#/components/schemas/PGPubFileMetaData'
                        grantDocumentMetaData:
                          $ref: '#/components/schemas/GrantFileMetaData'
                        requestIdentifier:
                          type: string
                          example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/patent/status-codes:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Bibliographic data
    post:
      tags:
        - Patent Search
      summary: Search patent application status codes and status code description

      requestBody:
        description: Patent status code search request json payload. All fields in the request are optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusCodeSearchRequest'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusCodeSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review search request and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
    get:
      tags:
        - Patent Search
      summary: Search patent application status codes and status code description
      description: Query parameters are optional.
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Transmittal
              description: Search text 'Transmittal' across the searchable data fields
            Exact Phrase AND:
              value: Application AND Preexam
              description: Search text 'Application' AND 'Preexam' within staus code description text where both text found
            Search By Field Value:
              value: applicationStatusDescriptionText:Preexam
              description: Search data for applicationStatusDescriptionText 'Preexam'
            Boolean OR:
              value: applicationStatusDescriptionText:Terminated OR applicationStatusCode:50
              description: Search data where applicationStatusDescriptionText is Terminated Or applicationStatusCode is 50
            Wildcard:
              value: applicationStatusDescriptionText:Action*
              description: Search data where applicationStatusDescriptionText has text Action followed by any character
            Comparison:
              value: applicationStatusCode:>100
              description: Search all records where applicationStatusCode is greater than 100
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusCodeSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: Invalid request, review patent data request filter section and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found, refine your search criteria and try again
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/datasets/products/search:
    x-ip-domain: Patent, Research
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Bulk DataSets
      summary: Search bulk datasets products by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 applications are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Denied
              description: Search text 'Denied' across the searchable data fields
            Exact Phrase AND:
              value: Denied AND Patented
              description: Search text 'Denied' AND 'Patented' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:11512156
              description: Search data for application number 11512156
            Boolean OR:
              value: decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied Or finalDecidingOfficeName is OFFICE
            Boolean AND:
              value: decisionTypeCodeDescriptionText:Denied AND finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied AND finalDecidingOfficeName is OFFICE
            Wildcard:
              value: firstApplicantName:BRANT*
              description: Search data where firstApplicantName has text BRANT followed by any character
            Range:
              value: petitionMailDate:[2021-08-04 TO 2021-09-04]
              description: Search data where petitionMailDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: decisionTypeCode:>524
              description: Search all records where decisionTypeCode is greater than 524
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: petitionMailDate asc
              description: Sort by petitionMailDate ascending order
            Descending:
              value: petitionMailDate desc
              description: Sort by petitionMailDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: facets
          in: query
          description: List of fields names to be faceted upon separated by comma (<b>,</b>)
          schema:
            type: string
          examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
              description: Faceting by businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter,businessEntityStatusCategory
              description: Include only petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter,businessEntityStatusCategory in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: technologyCenter 3600
              description: Filter data where technologyCenter value is 3600
            Filters Example 2:
              value: businessEntityStatusCategory 'Small'
              description: Filter data where businessEntityStatusCategory value is 'Small'
            Filters Single Value:
              value: decisionDate 2023-10-18
              description: Filter data where decisionDate value is 2023-10-18
            Filters Multi Value:
              value: ruleBag 1.76,1.78
              description: Filter data where ruleBag value is 1.76 or 1.78
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: petitionMailDate 2021-01-01:2025-01-01
              description: Filter data where petitionMailDate is between 2021-01-01 and 2025-01-01
            Number Range Filter:
              value: ruleBag 1.76:1.90
              description: Filter data where ruleBag is between 1.76 and 1.90

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BdssResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: 'Invalid request, review data requested try again'
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/datasets/products/{productIdentifier}:
    x-ip-domain: Patent, Research
    x-service-type: Dissemination
    x-content-type: Bibliographic data
    get:
      tags:
        - Bulk DataSets
      summary: Bulk data- find a product by its identifier (shortName)
      parameters:
        - in: path
          name: productIdentifier
          schema:
            type: string
          required: true
          description: productIdentifier represents product Short name

        - name: fileDataFromDate
          in: query
          description: fileDataFromDate
          schema:
            type: string
            format: 'yyyy-MM-dd'
        - name: fileDataToDate
          in: query
          description: fileDataToDate
          schema:
            type: string
            format: 'yyyy-MM-dd'
        - name: offset
          in: query
          description: Number of product file records to skip
          schema:
            type: integer
        - name: limit
          in: query
          description: Number of product file records to collect
          schema:
            type: integer
        - name: includeFiles
          in: query
          description: value true if product files should be included or false if they should be omitted from the response
          schema:
            type: string
        - name: latest
          in: query
          description: value is true if only the latest product file should be returned for this specific product
          schema:
            type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BdssResponseProductBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 400
                  error:
                    example: Bad Request
                  errorDetails:
                    example: 'Invalid request, review data requested try again'
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 403
                  error:
                    example: Forbidden
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 404
                  error:
                    example: Not Found
                  errorDetails:
                    example: No matching records found
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                properties:
                  code:
                    example: 500
                  error:
                    example: Internal Server Error
                  errorDetails:
                    example: Internal Server Error. Please contact Help Desk.
                  requestIdentifier:
                    example: 07c5c24d-bf8e-458c-9427-a038500d6e98
  /api/v1/petition/decisions/search:

    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    post:
      tags:
        - Petition Decision Search
      summary: Search petition decision applications by supplying json payload

      requestBody:
        description: Petition Decision data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetitionDecisionSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 petition decisions are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Denied
              description: Search text 'Denied' across the searchable data fields
            Exact Phrase AND:
              value: Denied AND Patented
              description: Search text 'Denied' AND 'Patented' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:11512156
              description: Search data for application number 11512156
            Boolean OR:
              value: decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied Or finalDecidingOfficeName is OFFICE
            Boolean AND:
              value: decisionTypeCodeDescriptionText:Denied AND finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied AND finalDecidingOfficeName is OFFICE
            Wildcard:
              value: firstApplicantName:BRANT*
              description: Search data where firstApplicantName has text BRANT followed by any character
            Range:
              value: petitionMailDate:[2021-08-04 TO 2021-09-04]
              description: Search data where petitionMailDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: decisionTypeCode:>524
              description: Search all records where decisionTypeCode is greater than 524
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: petitionMailDate asc
              description: Sort by petitionMailDate ascending order
            Descending:
              value: petitionMailDate desc
              description: Sort by petitionMailDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: facets
          in: query
          description: List of fields names to be faceted upon separated by comma (<b>,</b>)
          schema:
            type: string
          examples:
            No Facets:
              value:
              description: No faceting option
            Facets Example 1:
              value: businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
              description: Faceting by businessEntityStatusCategory,decisionPetitionTypeCode,decisionPetitionTypeCodeDescription,decisionTypeCode,decisionTypeCodeDescriptionText,firstApplicantName,finalDecidingOfficeName,actionTakenByCourtNamepetitionIssueConsideredText,prosecutionStatusCodeDescriptionText,petitionIssueConsideredTextBag,courtActionIndicator,ruleBag,statuteBag
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter
              description: Include only petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,petitionIssueConsideredTextBag,technologyCenter in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: decisionTypeCodeDescriptionText DENIED
              description: Filter data where decisionTypeCodeDescriptionText value is DENIED
            Filters Example 2:
              value: businessEntityStatusCategory 'Small'
              description: Filter data where businessEntityStatusCategory value is 'Small'
            Filters Single Value:
              value: decisionDate 2023-10-18
              description: Filter data where decisionDate value is 2023-10-18
            Filters Multi Value:
              value: ruleBag 1.76,1.78
              description: Filter data where ruleBag value is 1.76 or 1.78
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: petitionMailDate 2021-01-01:2025-01-01
              description: Filter data where petitionMailDate is between 2021-01-01 and 2025-01-01
            Number Range Filter:
              value: ruleBag 1.76:1.90
              description: Filter data where ruleBag is between 1.76 and 1.90

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'

  /api/v1/petition/decisions/search/download:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    post:
      tags:
        - Petition Decision Search
      summary: Download petition decision data by supplying json payload
      requestBody:
        description: Petition decision data search request json payload. Fields in the request is optional
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PetitionDecisionDownloadRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application search by supplying query parameters
      description: Query parameters are optional. When no query parameters supplied, top 25 petition decisions are returned
      parameters:
        - name: q
          in: query
          description: A search query string which accepts boolean operators (AND, OR, NOT), wildcards (*), and exact phrases ("").
          allowReserved: true
          schema:
            type: string
          examples:
            No Search Text:
              summary: No conditions
              description: Empty, No conditions
              value:
            Exact Phrase:
              value: Denied
              description: Search text 'Denied' across the searchable data fields
            Exact Phrase AND:
              value: Denied AND Patented
              description: Search text 'Denied' AND 'Patented' across all searchable fields within data set
            Search By Field Value:
              value: applicationNumberText:11512156
              description: Search data for application number 11512156
            Boolean OR:
              value: decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied Or finalDecidingOfficeName is OFFICE
            Boolean AND:
              value: decisionTypeCodeDescriptionText:Denied AND finalDecidingOfficeName:OFFICE
              description: Search data where decisionTypeCodeDescriptionText is Denied AND finalDecidingOfficeName is OFFICE
            Wildcard:
              value: firstApplicantName:BRANT*
              description: Search data where firstApplicantName has text BRANT followed by any character
            Range:
              value: petitionMailDate:[2021-08-04 TO 2021-09-04]
              description: Search data where petitionMailDate range is between 2020-08-04 TO 2022-08-04
            Comparison:
              value: decisionTypeCode:>524
              description: Search all records where decisionTypeCode is greater than 524
        - name: sort
          in: query
          description: field to be sorted followed by sort order
          schema:
            type: string
          examples:
            No Sort:
              description: No sort option go by default sort
              value:
            Ascending:
              value: petitionMailDate asc
              description: Sort by petitionMailDate ascending order
            Descending:
              value: petitionMailDate desc
              description: Sort by petitionMailDate descending order
        - name: offset
          in: query
          description: Position in the dataset of a particular record
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: limit
          in: query
          description: Limit the number of results returned
          schema:
            type: integer
            minimum: 1
          example: 25
        - name: fields
          in: query
          description: Limits the response by specifying fields from dataset should be included.
          schema:
            type: string
          examples:
            All Fields:
              value:
              description: Returns all available data set fields
            Include Fields:
              value: petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,technologyCenter,businessEntityStatusCategory
              description: Include only petitionDecisionRecordIdentifier,patentNumber,firstApplicantName,petitionMailDate,decisionPetitionTypeCode,decisionTypeCodeDescriptionText,decisionMailDate,finalDecidingOfficeName,decisionDate,technologyCenter,businessEntityStatusCategory in search result
        - name: filters
          in: query
          description: Filter data by supplying filter parameter. Provide field name and its value
          schema:
            type: string
          examples:
            No Filter:
              value:
              description: No filter
            Filters Example 1:
              value: decisionTypeCodeDescriptionText DENIED
              description: Filter data where decisionTypeCodeDescriptionText value is DENIED
            Filters Example 2:
              value: businessEntityStatusCategory 'Small'
              description: Filter data where businessEntityStatusCategory value is 'Small'
            Filters Single Value:
              value: decisionDate 2023-10-18
              description: Filter data where decisionDate value is 2023-10-18
            Filters Multi Value:
              value: ruleBag 1.76,1.78
              description: Filter data where ruleBag value is 1.76 or 1.78
        - name: rangeFilters
          in: query
          description: Filter the data by supplying range of values. Applicable for number and date type fields.
          schema:
            type: string
          examples:
            No Range Filter:
              value:
              description: No range filter
            Date Range Filter:
              value: petitionMailDate 2021-01-01:2025-01-01
              description: Filter data where petitionMailDate is between 2021-01-01 and 2025-01-01
            Number Range Filter:
              value: ruleBag 1.76:1.90
              description: Filter data where ruleBag is between 1.76 and 1.90

        - name: format
          in: query
          description: Download Format
          schema:
            type: string
          examples:
            json:
              value: json
            csv:
              value: csv
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetitionDecisionResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
               $ref: '#/components/schemas/Response403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
                
  /api/v1/petition/decisions/{petitionDecisionRecordIdentifier}:
    x-ip-domain: Patent
    x-service-type: ["Search","Dissemination"]
    x-content-type: Petition Decisions
    get:
      tags:
        - Petition Decision Search
      summary: Petition decision application data for a provided application number
      parameters:
        - name: petitionDecisionRecordIdentifier
          in: path
          description: Petition Decision number
          schema:
            type: string
          required: true
          examples:
            first:
              value: 6779f1be-0f3b-5775-b9d3-dcfdb83171c3
              summary: Petition decision record identifier
              description: Petition decision number
        - name: includeDocuments
          in: query
          description: This is a true or false...yes to include petition decision documents in the response and no to omit the petition decision documents from the response 
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PetitionDecisionIdentifierResponseBag'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response403'

        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
                
  /api/v1/patent/applications/text-to-search:
    x-ip-domain: Patent
    x-service-type: [ "Search","Dissemination" ]
    x-content-type: Bibliographic data


components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    PatentSearchRequest:
      type: object
      properties:
        q:
          type: string
          example: "applicationMetaData.applicationTypeLabelName:Utility"
          description: Search by field value or pass opensearch string query syntax
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
        rangeFilters:
          type: array
          items:
            $ref: '#/components/schemas/Range'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        fields:
          type: array
          items:
            type: string
          example: ['applicationNumberText','correspondenceAddressBag','applicationMetaData.filingDate']
        pagination:
          $ref: '#/components/schemas/Pagination'
        facets:
          type: array
          items:
            type: string
          example: ['applicationMetaData.applicationTypeLabelName','applicationMetaData.applicationStatusCode']

    PatentDownloadRequest:
      type: object
      properties:
        q:
          type: string
          example: "applicationMetaData.applicationTypeLabelName:Utility"
          description: Search by field value or pass opensearch string query syntax
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
        rangeFilters:
          type: array
          items:
            $ref: '#/components/schemas/Range'
        sort:
          type: array
          items:
            $ref: '#/components/schemas/Sort'
        fields:
          type: array
          items:
            type: string
          example: ['applicationNumberText','correspondenceAddressBag','applicationMetaData.filingDate']
        pagination:
          $ref: '#/components/schemas/Pagination'
        format:
          type: string
          example: json
          enum: [json, csv]
          description: Download format. csv or json

    PatentDataResponse:
      type: object
      description: This json structure represents all data fields possible for a patent application. Not all fields mentioned here will be returned in API response, only fields that have data should present in the response.
      properties:
        count:
          type: integer
          example: 1
        patentFileWrapperDataBag:
          type: array
          items:
            type: object
            properties:
              applicationNumberText:
                type: string
                example: 14104993
                description: Free format of application number
              applicationMetaData:
                $ref: '#/components/schemas/ApplicationMetaData'
              correspondenceAddressBag:
                type: array
                items:
                  type: object
                  properties:
                    nameLineOneText:
                      type: string
                      example: Seed IP Law Group LLP/ST (EP ORIGINATING)
                    nameLineTwoText:
                      type: string
                      example: Attn- IP Docket
                    addressLineOneText:
                      type: string
                      example: 701 FIFTH AVENUE, SUITE 5400
                    addressLineTwoText:
                      type: string
                      example: Suite 501
                    geographicRegionName:
                      type: string
                      example: WASHINGTON
                    geographicRegionCode:
                      type: string
                      example: WA
                    postalCode:
                      type: string
                      example: 98104-7092
                    cityName:
                      type: string
                      example: SEATTLE
                    countryCode:
                      type: string
                      example: US
                    countryName:
                      type: string
                      example: USA
                    postalAddressCategory:
                      type: string
                      example: commercial
                description: Collection of correspondences
              assignmentBag:
                type: array
                items:
                  $ref: '#/components/schemas/Assignment'
              recordAttorney:
                $ref: '#/components/schemas/RecordAttorney'
              foreignPriorityBag:
                type: array
                items:
                  $ref: '#/components/schemas/ForeignPriority'
              parentContinuityBag:
                type: array
                items:
                  $ref: '#/components/schemas/ParentContinuityData'
              childContinuityBag:
                type: array
                items:
                  $ref: '#/components/schemas/ChildContinuityData'
              patentTermAdjustmentData:
                $ref: '#/components/schemas/PatentTermAdjustment'
              eventDataBag:
                type: array
                items:
                  $ref: '#/components/schemas/EventData'
              pgpubDocumentMetaData:
                $ref: '#/components/schemas/PGPubFileMetaData'
              grantDocumentMetaData:
                $ref: '#/components/schemas/GrantFileMetaData'
              lastIngestionDateTime:
                type: string
                example: 2024-09-15T21:19:01
                format: yyyy-MM-ddTHH:mm:ss
        facets:
          type: array
          items:
            type: object
            properties:
              applicationStatusCode:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      example: Utility
                    count:
                      type: integer
                      example: 44673

    StatusCodeSearchRequest:
      type: object
      properties:
        q:
          type: string
          example: "applicationStatusCode:120"
          description: Search by field value or pass opensearch string query syntax
        pagination:
          $ref: '#/components/schemas/Pagination'

    StatusCodeSearchResponse:
      type: object
      description: This json structure represents data fields for status codes search API
      properties:
        count:
          type: integer
          example: 1
        statusCodeBag:
          type: array
          items:
            type: object
            properties:
              applicationStatusCode:
                type: integer
                example: 60
                description: Application status code
              applicationStatusDescriptionText:
                type: string
                example: Final Rejection Counted, Not Yet Mailed
                description: Application status code description
        requestIdentifier:
          type: string
          example: 07c5c24d-bf8e-458c-9427-a038500d6e98
    DocumentBag:
      type: object
      properties:
        documentBag:
          type: array
          items:
            properties:
              applicationNumberText:
                type: string
                example: 16123123
              officialDate:
                type: string
                example: 2020-08-31T01:20:29.000-0400
              documentIdentifier:
                type: string
                example: LDXBTPQ7XBLUEX3
              documentCode:
                type: string
                example: WFEE
              documentCodeDescriptionText:
                type: string
                example: Fee Worksheet (SB06)
              documentDirectionCategory:
                type: string
                example: INTERNAL
              downloadOptionBag:
                type: array
                items:
                  properties:
                    mimeTypeIdentifier:
                      type: string
                      example: PDF
                    downloadUrl:
                      type: string
                      example: https://api.uspto.gov/api/v1/patent/application/documents/16123123/LDXBTPQ7XBLUEX3.pdf
                    pageTotalQuantity:
                      type: integer
                      example: 2

    Filter:
      type: object
      description: Add filters to your search request by providing filter name and filter value where name in filter request some field in data set.
      properties:
        name:
          type: string
          example: applicationMetaData.applicationStatusDescriptionText
        value:
          type: array
          items:
            type: string
            example: Patented Case

    Range:
      type: object
      description: Range filter. Provide field from dataset and valueFrom and valueTo. If range filter is for date field, date must be in “yyyy-MM-dd” format
      properties:
        field:
[...]
